# baggui
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen moveItems(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/inventory/Slot;)V #moveItems
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isSlotSelected(Lnet/minecraft/world/inventory/Slot;DD)Z #isSlotSelected
public net.minecraft.client.gui.Font drawInternal(Ljava/lang/String;FFILorg/joml/Matrix4f;ZZ)I # drawInternal

# bagcontainer
public net.minecraft.world.inventory.AbstractContainerMenu listeners # listeners

public com.mojang.blaze3d.vertex.BufferBuilder vertexCount #vertexCount
public net.minecraft.client.renderer.block.model.BakedQuad sprite #sprite
public net.minecraft.client.gui.Font font #font
public net.minecraft.world.item.BlockItem block #block
public net.minecraft.world.level.block.state.BlockBehaviour properties #properties
public net.minecraft.world.level.block.state.BlockBehaviour soundType #soundType
public net.minecraft.client.gui.Font renderString(Ljava/lang/String;FFILcom/mojang/math/Matrix4f;ZZ)I #renderString


public net.minecraft.client.gui.Gui remainingHighlightTicks #remainingHighlightTicks

public net.minecraft.world.level.chunk.PaletteResize #enable implementating this
public net.minecraft.world.level.chunk.HashMapPalette statePaletteMap #statePaletteMap
public net.minecraft.world.level.chunk.HashMapPalette registry #registry
public net.minecraft.world.level.chunk.LinearPalette states #states
public net.minecraft.world.level.chunk.LinearPalette registry #registry
public net.minecraft.world.level.chunk.LinearPalette arraySize #arraySize

# PaletteContainer
public net.minecraft.world.level.chunk.PalettedContainer storage #storage

# LevelChunkSection
public-f net.minecraft.world.level.chunk.LevelChunkSection states #states
public net.minecraft.world.level.chunk.PalettedContainer$Data
public net.minecraft.world.level.chunk.PalettedContainer data # data

# WorldRenderer
public net.minecraft.client.renderer.LevelRenderer drawShape(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/phys/shapes/VoxelShape;DDDFFFF)V #drawShape

# Profiler
public net.minecraft.util.profiling.ActiveProfiler storage #storage

# Screen classes
public net.minecraft.client.gui.screens.Screen children #children
public net.minecraft.client.gui.screens.Screen narratables #narratables
public net.minecraft.client.gui.screens.Screen renderables #renderables

# Minecraft
public net.minecraft.client.Minecraft itemColors # itemColors

# KeyMapping
public net.minecraft.client.KeyMapping key # key

# VertexFormat
public com.mojang.blaze3d.vertex.VertexFormat offsets # offsets

# MaxDamage based on bit size.
public-f net.minecraft.world.item.Item getMaxDamage()I # getMaxDamage

# Writable NativeImage.
public com.mojang.blaze3d.platform.NativeImage writeToChannel(Ljava/nio/channels/WritableByteChannel;)Z # writeToChannel

public net.minecraft.world.phys.shapes.CubeVoxelShape <init>(Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape;)V
protected-f net.minecraft.world.phys.shapes.DiscreteVoxelShape xSize # xSize
protected-f net.minecraft.world.phys.shapes.DiscreteVoxelShape ySize # ySize
protected-f net.minecraft.world.phys.shapes.DiscreteVoxelShape zSize # zSize
protected net.minecraft.world.phys.shapes.VoxelShape <init>(Lnet/minecraft/world/phys/shapes/DiscreteVoxelShape;)V # VoxelShape
public-f net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape

protected-f net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape storage # storage
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape xMin # xMin
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape yMin # yMin
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape zMin # zMin
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape xMax # xMax
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape yMax # yMax
protected net.minecraft.world.phys.shapes.BitSetDiscreteVoxelShape zMax # zMax
public net.minecraft.client.renderer.entity.ItemRenderer renderGuiItem(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/item/ItemStack;IILnet/minecraft/client/resources/model/BakedModel;)V # renderGuiItem
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/advancements/critereon/InventoryChangeTrigger$TriggerInstance; #has

public net.minecraft.client.gui.Gui lastToolHighlight # lastToolHighlight
public net.minecraft.client.gui.Gui toolHighlightTimer # lastToolHighlightTicks

public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.client.renderer.block.model.ItemOverrides <init>()V # ItemOverrides
public net.minecraft.client.renderer.blockentity.BlockEntityRenderers register(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/client/renderer/blockentity/BlockEntityRendererProvider;)V # register
public net.minecraft.client.renderer.entity.ItemRenderer renderModelLists(Lnet/minecraft/client/resources/model/BakedModel;Lnet/minecraft/world/item/ItemStack;IILcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;)V # renderModelLists
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V # MenuType
public net.minecraft.world.inventory.MenuType$MenuSupplier

public net.minecraft.world.item.CreativeModeTab$Output
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String; # getName
public net.minecraft.world.item.CreativeModeTab$Builder type(Lnet/minecraft/world/item/CreativeModeTab$Type;)Lnet/minecraft/world/item/CreativeModeTab$Builder; # type
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V # renderSlot

public net.minecraft.client.renderer.LevelRenderer renderShape(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/phys/shapes/VoxelShape;DDDFFFF)V # renderShape
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z # isHovering
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners

public net.minecraft.client.resources.model.WeightedBakedModel totalWeight # totalWeight

public net.minecraft.world.level.block.LiquidBlock fluid #fluid

public net.minecraft.world.item.CreativeModeTab displayItems
public net.minecraft.world.item.CreativeModeTab displayItemsSearchTab

public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen selectedTab
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen hoveredSlot
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen isCreativeSlot(Lnet/minecraft/world/inventory/Slot;)Z
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen refreshCurrentTabContents(Ljava/util/Collection;)V

public net.minecraft.world.entity.item.ItemEntity target

public net.minecraft.world.level.block.entity.BlockEntityType <init>(Lnet/minecraft/world/level/block/entity/BlockEntityType$BlockEntitySupplier;Ljava/util/Set;)V
public net.minecraft.world.level.storage.TagValueInput <init>(Lnet/minecraft/util/ProblemReporter;Lnet/minecraft/world/level/storage/ValueInputContextHelper;Lnet/minecraft/nbt/CompoundTag;)V # <init>
public net.minecraft.client.renderer.item.ItemStackRenderState layers # layers

# render state shard classes
public net.minecraft.client.renderer.RenderStateShard$BooleanStateShard
public net.minecraft.client.renderer.RenderStateShard$EmptyTextureStateShard
public net.minecraft.client.renderer.RenderStateShard$LayeringStateShard
public net.minecraft.client.renderer.RenderStateShard$LightmapStateShard
public net.minecraft.client.renderer.RenderStateShard$LineStateShard
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard$Entry
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard$Entry <init>(Lnet/minecraft/resources/ResourceLocation;Z)V
public net.minecraft.client.renderer.RenderStateShard$OffsetTexturingStateShard
public net.minecraft.client.renderer.RenderStateShard$OutputStateShard
public net.minecraft.client.renderer.RenderStateShard$OverlayStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard$TexturingStateShard

# render state shards
public net.minecraft.client.renderer.RenderStateShard ARMOR_ENTITY_GLINT_TEXTURING
public net.minecraft.client.renderer.RenderStateShard BLOCK_SHEET
public net.minecraft.client.renderer.RenderStateShard BLOCK_SHEET_MIPPED
public net.minecraft.client.renderer.RenderStateShard DEFAULT_LINE
public net.minecraft.client.renderer.RenderStateShard DEFAULT_TEXTURING
public net.minecraft.client.renderer.RenderStateShard ENTITY_GLINT_TEXTURING
public net.minecraft.client.renderer.RenderStateShard GLINT_TEXTURING
public net.minecraft.client.renderer.RenderStateShard ITEM_ENTITY_TARGET
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard MAIN_TARGET
public net.minecraft.client.renderer.RenderStateShard NO_LAYERING
public net.minecraft.client.renderer.RenderStateShard NO_LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard NO_OVERLAY
public net.minecraft.client.renderer.RenderStateShard NO_TEXTURE
public net.minecraft.client.renderer.RenderStateShard OUTLINE_TARGET
public net.minecraft.client.renderer.RenderStateShard OVERLAY
public net.minecraft.client.renderer.RenderStateShard VIEW_OFFSET_Z_LAYERING
public net.minecraft.client.renderer.RenderStateShard VIEW_OFFSET_Z_LAYERING_FORWARD
public net.minecraft.client.renderer.RenderStateShard WEATHER_TARGET

# composite state builder methods
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder createCompositeState(Lnet/minecraft/client/renderer/RenderType$OutlineProperty;)Lnet/minecraft/client/renderer/RenderType$CompositeState;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder createCompositeState(Z)Lnet/minecraft/client/renderer/RenderType$CompositeState;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setLayeringState(Lnet/minecraft/client/renderer/RenderStateShard$LayeringStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setLightmapState(Lnet/minecraft/client/renderer/RenderStateShard$LightmapStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setLineState(Lnet/minecraft/client/renderer/RenderStateShard$LineStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setOutputState(Lnet/minecraft/client/renderer/RenderStateShard$OutputStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setOverlayState(Lnet/minecraft/client/renderer/RenderStateShard$OverlayStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setTextureState(Lnet/minecraft/client/renderer/RenderStateShard$EmptyTextureStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;
public net.minecraft.client.renderer.RenderType$CompositeState$CompositeStateBuilder setTexturingState(Lnet/minecraft/client/renderer/RenderStateShard$TexturingStateShard;)Lnet/minecraft/client/renderer/RenderType$CompositeState$CompositeStateBuilder;

# render pipeline snippets
public net.minecraft.client.renderer.RenderPipelines BEACON_BEAM_SNIPPET
public net.minecraft.client.renderer.RenderPipelines CLOUDS_SNIPPET
public net.minecraft.client.renderer.RenderPipelines DEBUG_FILLED_SNIPPET
public net.minecraft.client.renderer.RenderPipelines END_PORTAL_SNIPPET
public net.minecraft.client.renderer.RenderPipelines ENTITY_EMISSIVE_SNIPPET
public net.minecraft.client.renderer.RenderPipelines ENTITY_SNIPPET
public net.minecraft.client.renderer.RenderPipelines FOG_SNIPPET
public net.minecraft.client.renderer.RenderPipelines GLOBALS_SNIPPET
public net.minecraft.client.renderer.RenderPipelines GUI_SNIPPET
public net.minecraft.client.renderer.RenderPipelines GUI_TEXTURED_SNIPPET
public net.minecraft.client.renderer.RenderPipelines GUI_TEXT_SNIPPET
public net.minecraft.client.renderer.RenderPipelines LINES_SNIPPET
public net.minecraft.client.renderer.RenderPipelines MATRICES_FOG_LIGHT_DIR_SNIPPET
public net.minecraft.client.renderer.RenderPipelines MATRICES_FOG_SNIPPET
public net.minecraft.client.renderer.RenderPipelines MATRICES_PROJECTION_SNIPPET
public net.minecraft.client.renderer.RenderPipelines OUTLINE_SNIPPET
public net.minecraft.client.renderer.RenderPipelines PARTICLE_SNIPPET
public net.minecraft.client.renderer.RenderPipelines TERRAIN_SNIPPET
public net.minecraft.client.renderer.RenderPipelines TEXT_SNIPPET
public net.minecraft.client.renderer.RenderPipelines WEATHER_SNIPPET

public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;ILcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;IZZLcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
public net.minecraft.client.renderer.RenderType$OutlineProperty

public net.minecraft.world.entity.player.Inventory items # items

public net.minecraft.client.renderer.RenderType DEBUG_FILLED_BOX # DEBUG_FILLED_BOX
public net.minecraft.client.renderer.item.ItemStackRenderState$LayerRenderState renderType # renderType
public net.minecraft.world.item.crafting.RecipeManager recipes # recipes
public net.minecraft.client.data.models.ItemModelGenerators createFlatItemModel(Lnet/minecraft/world/item/Item;Ljava/lang/String;Lnet/minecraft/client/data/models/model/ModelTemplate;)Lnet/minecraft/resources/ResourceLocation;